body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  text-align: center;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-main {
  margin: auto;
  padding: 40px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapp-shop {
  display: flex;
  align-items: flex-start;
} 
@media only screen and (max-width : 768px) {
  .wrapp-shop {
    display: block;
  }
  .cart {
    margin: 0;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}